a {
    color: white;
    text-decoration: none;
    text-decoration-line: underline;
}

a::before,
a::after,
a:hover {
    color: white;
    text-decoration: none;
}

.section {
    text-align:center;
    font-size: 3em;
    overflow: hidden;
}

.call-out {
    position: absolute;
    bottom: -120px;
}

.title {
    position: relative;
    top: 250px;
}

img.hero {
    width: 100%;
    position: relative;
    bottom: 180px;
    left: 300px;
}

h1 {
    color: white;
    font-size: 4.5em;
    position: absolute;
    z-index: 1;
    text-shadow: 1px 5px 20px slategray;
    font-family: 'Staatliches', cursive;
}

p.subhead {
    color: white;
    position: absolute;
    font-size: .25em !important;
    letter-spacing: 2px;
    z-index: 1;
    text-shadow: 1px 5px 20px slategray;
    top: 225px;
}

p {
    font-size: 12px;
}

h2 {
    color: darkslategrey;
}

h6 {
    text-align: left;
    margin-left: -20px;
    font-size: 14px;
}

#sec1 {
    background-image: url('../img/mainsec.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#sec2 {
    background-image: url('../img/sec1.jpg');
    background-size: cover;
}

#sec3 {
    background-image: url('../img/sec3.jpg');
    background-size: cover;
}

#sec4 {
    background-image: url('../img/sec1.jpg');
    background-size: cover;
}

.home-card {
    position: absolute;
    bottom:0;
    width: 75%;
}  

/* Trending card formatting */

#trending-movies {
    position: relative;
    top: 150px;
    padding-left: 15px;
}

#trending-title {
    text-align: left;
}

#trending {
    position: relative;
    top: 10px;
}

.trending-row {
    margin: 0;
}

#trending-title {
    color: lightgray;
    text-shadow: 1px 5px 20px slategray;
    font-family: 'Staatliches', cursive;
}

.trending-card {
    margin-left: 10px !important;
    margin-right: 10px !important;
    min-width: 210px;
    height: 113px;
}

#trending-0 {
    margin-left: 2px !important;
}

#trending-3 {
    margin-right: 0 !important;
 }

 .trend-card-title {
    text-align: left;
 }

 img.movie-poster {
     width: 75px;
     margin-top: -1px;
     margin-bottom: -1px;
     margin-left: -20px;
     border-radius: 5px 0 0 5px;
 }

 #effects {
    position: relative;
    width: 50%;
  }
  
  .card-img-top {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 335px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(243, 239, 239, 0.76);
  }
  
  .card:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
  
  .card-text {
    color:black;
    font-size: 10px;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
    vertical-align: middle;
  }

  #tpageHead{
  color: white;
  font-size: 1.5em !important;
  position: absolute;
  z-index: 1;
  text-shadow: 1px 5px 20px slategray;
  font-family: 'Staatliches', cursive;
  }
  .card-title2 {

color: white;
text-shadow: 1px 5px 20px slategray;
font-family: 'Staatliches', cursive;
text-align: center;
  }
  .movie
  {
   
    font-style: italic;
    position: absolute;
    top: 54%;
    left: 25%;
  }
 /* Search Results card formatting */

#search-results {
    position: relative;
    top: -50px;
    padding: 15px;
}

.search-title {
    color: black;
    text-shadow: 1px 5px 20px slategray;
    font-family: 'Staatliches', cursive;
    margin-top: 5%;
}

.search-card {
    font-size: 3.5vh;
    margin-top: 30px !important;
    margin-left: 30px !important;
    min-width: 230px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    line-height: 1;
}

a.search-card {
    text-align: center;
    color: black !important;
    text-shadow: 1px 5px 20px slategray;
    font-family: 'Staatliches', cursive;
    margin: 5px !important;
}

a.search-card:hover {
    text-align: center;
    color: white !important;
    background-color: #706efd;
    text-shadow: 1px 5px 20px slategray;
    font-family: 'Staatliches', cursive;
    margin: 5px !important;
}

#recommendations {
    position: relative;
    top: 50px;
    margin-left:2%;
}

#user-input-title {
    position: absolute;
    margin-left: 2%;
    margin-top: 0;
    font-size: 0.8em;
    color: black !important;
    text-shadow: 1px 5px 20px slategray;
    font-family: 'Staatliches', cursive;
}

#user-favorites {
    margin-top: -120px;
    padding-top: 30px;
    padding-bottom: 55px;
    align-content: center !important;
}


.fav-card {
    margin: 10px;
    min-width: 200px;
    overflow: auto;
    margin-bottom: 25px;
}

.fav-search {
    margin-top: 100px;
}

.fav-img-container {
    padding: 0 !important;
}

img.fav-poster {
    width: 200px;
}

.push {
    padding: 70px;
}

#search-body-container-0,
#search-body-container-1,
#search-body-container-2,
#search-body-container-3 {
    margin-left:-1px;
    margin-right:-1px;
}

img.search-movie-poster  {
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 55px;
}

p.home-card-text {
    font-size: 18px;
}

 @media only screen and (max-width: 812px) {

    .home-card {
        position: absolute;
        margin-bottom: 20px;
        width: 90%;
    }

    #search-results {
        top: 0px;
        padding: 15px;
    }
    
    #recommendations {
        top: -50px;
        margin-bottom: 10%;
        margin-left: 8%;
    }

    #user-input-title {
        position: absolute;
        margin-left: 15%;
        margin-top: -15%;
        font-size: 0.8em;
        color: black !important;
        text-shadow: 1px 5px 20px slategray;
        font-family: 'Staatliches', cursive;
    }

    .search-card {
        font-size: 6vh;
        margin-top: 0px !important;
        margin-top: 50px !important;
        margin-left: 50px !important;
        margin-right: 50px !important;
        min-width: 200px;
        padding: 0px;
    }

 }
 
 @media only screen and (max-width: 375px) {

    .home-card {
        position: absolute;
        bottom: 30px;
        width: 100%;
    }

    #recommendations {
        top: -100px;
        margin-bottom: 55%;
        margin-left:auto;
        margin-right:auto;
    }

    #user-input-title {
        display: none;
    }

    .search-card {
        font-size: 3vh;
    }

    a.search-card {
        text-align: center;
        font-size: 3vh;
        color: black !important;
        text-shadow: 1px 5px 20px slategray;
        font-family: 'Staatliches', cursive;
        margin: 0px !important;
    }
    
    a.search-card:hover {
        text-align: center;
        font-size: 3vh;
        color: white !important;
        background-color: #706efd;
        text-shadow: 1px 5px 20px slategray;
        font-family: 'Staatliches', cursive;
        margin: 0px !important;
    }

 }
